body {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em;
  font-weight: bold;
  width: 100vw;
  height: 10vh;
  background-color: rgb(133, 133, 133);
}

.table{
  display: flex;
  margin: auto;
  margin-top: 3em;
  height: 50vh;
  width: 90vw;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.stats{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
